<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('careers') }}">Careers</a></li>
        </ul>
    </nav>

    {% block content %} <!--this is a defined block for us to inject content into-->
    {% endblock %}

    <!--The difference between the percent sign and the double curly bracket notation that we've used before is that
    the double curly brackets contain an expression, which is outputting something either to the screen, or, 
    in this case, into our href.
    The curly bracket and percentage are for statements that control the flow of our template.
    -->
</body>
</html>